.DS_Store

composer.lock

bower_components
node_modules

config

webroot/content/mu-plugins
webroot/content/plugins
webroot/content/upgrade
webroot/content/uploads
webroot/content/debug.log
webroot/content/.DS_Store
webroot/content/advanced-cache.php
webroot/content/object-cache.php
webroot/content/cache

webroot/vendor
webroot/wp